@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

@font-face {
  font-family: 'GothicNeo';
  src: url('/fonts/AppleSDGothicNeo.ttc') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Kdam';
  src: url('/fonts/KdamThmorRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html,
body,
section {
  @apply bg-background;
  font-family: 'GothicNeo', sans-serif;
}

.btn {
  @apply px-4 py-1 rounded font-bold;
}

.btn-primary {
  @apply bg-primary;
}

.btn-outline-primary {
  @apply border-2 border-white;
}

.heroPage,
.heroBanner {
  @apply relative p-1 bg-bottom bg-cover bg-no-repeat text-white text-center flex flex-col items-center justify-center;
}

.heroBanner {
  @apply bg-[url('/HeroBack.jpg')] min-h-[60vh];
  @apply min-h-[55vh]
}


.containerContadores {
  @apply grid grid-cols-3 absolute -bottom-[30px];
  @apply md:-bottom-[50px];
}

.contador {
  @apply bg-primary font-['Kdam'] text-white p-[1rem] rounded-xl flex flex-col items-center shadow-[6px_6px_2px_black] max-w-[95%];
  @apply md:p-[1.3rem];
}

.cardContainer h1,
section h1:first-child {
  font-family: "Kdam", sans-serif;
}

.accordionStyle li::before,
.CardServices li::before {
  content: "- ";
  margin-right: 0.5rem;
  /* Espaço entre o hifen e o texto do item */
}

.contactsList li:first-child {
  @apply underline text-xl ml-6;
}

.contactsList li {
  @apply flex gap-3 items-center
}

.accordionStyle>div {
  @apply md:bg-light/50 md:w-[90%] md:mx-auto;
}

.accordionStyle>div section div {
  @apply bg-light flex flex-col w-full;
}

.accordionStyle>div section a {
  @apply self-center;
}

.accordionStyle span:first-of-type {
  @apply text-dark font-bold;
  @apply md:text-2xl;
}
.accordionStyle span:last-of-type {
  @apply text-gray font-light;
  @apply md:text-lg md:leading-5;
}
.accordionStyle hr {
  @apply bg-dark
}